.site-wrapper {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

/*SELECT NAME MESSAGE*/
#select-warning,
.select-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    color: #333030;
    font-weight: bold;
}


/*DASHBOARD*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #f3f3f3;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-layout {
    flex: 1;
    height: 100%;
    display: flex;
}

.custom-select {
    position: relative;
    width: 450px;
}

.custom-select select {
    width: 100%;
    padding: 18px 10px;
    font-size: 18px;
    border: 1px solid #999;
    border-radius: 8px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-align: center;
}

.custom-select::after {
    content: '▼';
    font-size: 14px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
}


/*DASHBOARD DATA TABLE*/
.data-box {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    margin: 20px auto;
    max-width: 95%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.data-box table {
    width: 100%;
    border-collapse: collapse;
}

.data-box th {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}

.data-box td {
    padding: 12px 15px;
    vertical-align: top;
    text-align: justify;
}

.data-box thead {
    background-color: #f2f2f2;
    font-weight: bold;
}

.data-box tr:nth-child(even) {
    background-color: #fafafa;
}



/*SIDEBAR*/
.sidebar {
    background: #e6e6e6;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid #ccc;
}

.sidebar button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #d3d3d3;
    font-weight: bold;
    transition: background-color 0.2s;
}

.sidebar button:hover {
    background-color: #c0c0c0;
}

.sidebar button.active {
    background-color: #b0b0b0;
    font-weight: bold;
    color: #000;
}


#content-area {
    overflow: visible;
    flex: 1;
}


/*CHARTS*/
.chart-box {
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 95%;
    min-height: 400px;
    overflow-x: auto;
}

.highcharts-title {
    font-size: 18px !important;
    font-weight: 600 !important;
    fill: #333 !important;
}


/* REPORTING */
.main-report-table thead th {
    background-color: #979696;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

/* Главна таблица – редове */
.reporting-row {
    background-color: #fdfdfd;
    transition: background-color 0.2s ease;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
    border-top: 1px solid #ddd;
    cursor: pointer;
}

.reporting-row:hover {
    background-color: #f3f3f3;
}

.reporting-row td {
    padding: 16px 12px;
    border-bottom: 1px solid #e5e5e5;
}


/* top-answer оцветяване */
.top-answer-cell.top-answer-green {
    background-color: #d4edda;
    /* зелено */
    border-radius: 8px;
    padding: 10px;
}

.top-answer-cell.top-answer-orange {
    background-color: #ffe5b4;
    /* оранжево */
    border-radius: 8px;
    padding: 10px;
}

.top-answer-cell.top-answer-red {
    background-color: #f8d7da;
    /* червено */
    border-radius: 8px;
    padding: 10px;
}


/*2-ра таблица*/
.sub-table thead th {
    background-color: #e2e0e0;
    color: rgb(8, 7, 7);
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

/* Съдържание на вътрешната таблица */
.sub-table td {
    background-color: white;
    color: #333;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Редуване на редове */
.sub-table tr:nth-child(even) td {
    background-color: #f9f9f9;
}



/* Strelka */
.reporting-row {
    cursor: pointer;
}

.responses-cell {
    text-align: right;
    cursor: pointer;
}

.response-count {
    margin-right: 8px;
}

.arrow-icon {
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    transition: transform 0.2s ease;
}


/*Top answer*/
.top-answer-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: normal;
}

.top-answer-text {
    font-size: 17px;
}

.top-answer-percent {
    font-size: 15px;
    color: #666;
    font-weight: normal;
}





/*FOOTER*/
footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ccc;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links a {
    color: #2c3137;
    text-decoration: none;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copy {
    font-size: 13px;
    color: #777;
}